/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-image: url("1777.png");
}

.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
}

.container .forms{
    display: flex;
    align-items: center;
    width: 200%;
    transition: height 0.2s ease;
}


.container .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms{
}
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #4070f4;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin-right: 10px;
    accent-color: #4070f4;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #265df2;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}

.error-animation {
  animation: shake 0.3s linear;
}
.error {
  background-color: rgb(217, 55, 55);
}
@keyframes shake {
  0% {
    background-color: rgb(217, 55, 55);
    margin-left: 0rem;
  }
  20% {
    margin-left: 1rem;
  }
  40% {
    margin-left: -1rem;
  }
  60% {
    margin-left: 1rem;
  }
  80% {
    margin-left: -1rem;
  }
  100% {
    margin-left: 0;
  }
}

.blok{
    position: relative;
    min-width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blok_title {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
.line{
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    
}
.button_wrapper {
    margin-top: 30px;
}
.custom_button {
    margin: 10px;
    padding:  20px 20px;
    border-radius: 8px;
    background-color: rgb(111, 0, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

#order-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.new_order_button{
    padding: 3px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(111, 0, 255);

}
h1{
    text-align: center;
}

.exit{
    
    margin: 20px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: black;

}
.exit1{
    left: 80%;
    position:absolute;
    top: 60px;
    margin: 20px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: black;

}